<SqlServerSettings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Persistence.SqlServer" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Connections>
    <ConnectionSetting>
      <ConnectionString>Data Source=(LocalDb)\v11.0;Initial Catalog=Kooboo;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Kooboo.mdf</ConnectionString>
      <Name>Sample</Name>
    </ConnectionSetting>
  </Connections>
  <EnableLogging>false</EnableLogging>
  <SharingDatabaseConnectionString>Data Source=(LocalDb)\v11.0;Initial Catalog=Kooboo;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Kooboo.mdf</SharingDatabaseConnectionString>
</SqlServerSettings>