<?xml version="1.0"?>
<ioc>
  <components>
    <component type="Search.Lucene.SearchProvider, Search.Lucene"
          service="Core.Search.ISearchProvider, Core"
          scope="singleton/request/thread/transiant">
      <parameters>
        <parameter name="directory" value="d:\lucene"></parameter>
      </parameters>
    </component>
  </components>
  <modules>
    <module type="Web.WebModule, Web"/>
  </modules>
</ioc>
