<?xml version="1.0"?>
<ioc>
  <components>
    <component type="Search.Lucene.SearchProvider, Search.Lucene"
          service="Core.Search.ISearchProvider, Core"
          scope="singleton/request/thread/transiant">
      <parameters>
        <parameter name="directory" value="d:\lucene"></parameter>
      </parameters>
    </component>
    <component type="Wipcore.SearchEngine.DataFeed.Xml.XmlFileDataFeeder`1[[Kooboo.CMS.Content.Models.TextContent, Kooboo.CMS.Content]], Wipcore.SearchEngine"
      service="Wipcore.SearchEngine.DataFeed.IDataFeeder`1[[Kooboo.CMS.Content.Models.TextContent, Kooboo.CMS.Content]], Wipcore.SearchEngine"
      name ="KoobooCMSArticleDataFeeder"
      scope="transient">
      <parameters>
        <parameter name="file" value="D:\wipecore\SearchEngine\Wipcore.SearchEngine\Wipcore.SearchEngineModule\Cms_Data\Contents\SampleSite\Data\Article.xml"></parameter>
      </parameters>
    </component>
  </components>
  <modules>
    <module type="Web.WebModule, Web"/>
  </modules>
</ioc>
